<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='checkout-styles.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/657d4d6b7d.js"
      crossorigin="anonymous"
    ></script>
    <title>💰Checkout</title>
  </head>
  <body>
    {% include 'Components/ShortcutMenu.html' %}
    <div class="content">
      <form
        action="/purchase-data"
        method="post"
        autocomplete="on"
        class="container-verticle form"
      >
        {% include 'Components/Details.html' %} {% include
        'Components/Service.html' %} {% include
        'Components/PurchaseDetails.html' %} {% include
        'Components/ArrowAndPay.html' %}
      </form>
    </div>
  </body>
</html>
