<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home-styles.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/657d4d6b7d.js"
      crossorigin="anonymous"
    ></script>
    <title>🐾Welcome</title>
  </head>
  <body>
    {% include 'Components/Navbar.html' %} {% include 'Components/Welcome.html'
    %} {% include 'Components/About.html' %} {% include
    'Components/Pricing.html' %}
  </body>
</html>
