<section
  class="container-verticle-align section"
  style="justify-content: space-around"
  id="about"
>
  <div class="informant-box container-horizontal-align">
    <h2>📖 History</h2>
    <p>
      Founded in 2010 by pet care professional Emily Jones, Happy Hounds began
      as an one-woman dog walking and sitting service. As the business quickly
      gained a reputation for reliable and trustworthy pet care, Emily recruited
      a team of passionate and experienced dog walkers and sitters. Today, Happy
      Hounds has expanded to offer a full range of dog care services: including
      doggie daycare, boarding and grooming. Despite its growth, Happy Hounds
      remains dedicated to providing personalized, compassionate care to all its
      clients.
    </p>
  </div>
  <div class="informant-box container-horizontal-align">
    <h2>🐕‍🦺🚶‍♂️ Our Team</h2>
    <p>
      At Happy Hounds, our team of dog walkers and sitters are passionate about
      providing top-quality care for your furry family members. Each member of
      our team has years of experience working with dogs of all breeds and
      sizes, and we take pride in getting to know each of our clients on a
      personal level. Whether we're taking your pup on a long walk or providing
      in-home sitting services, we treat your pet like one of our own. We're
      dedicated to making sure your dog feels safe, comfortable and happy in our
      care.
    </p>
  </div>
</section>
