<section class="details container-verticle" style="justify-content: space-around">
  <h1 class="element-center">Details</h1>
  <div class="container-center">
    <div>
      <label for="first-name">first name</label>
      <input type="text" name="first-name" required/>
    </div>
    <div>
      <label for="last-name">last name</label>
      <input type="text" name="last-name" required/>
    </div>
  </div>
  <div class="container-center">
    <div>
      <label for="phone-number">phone number</label>
      <input type="number" name="phone-number" required/>
    </div>
    <div>
      <label for="email">email</label>
      <input type="email" name="email" required/>
    </div>
  </div>
  <div class="element-center">
    <label for="address">street number and name</label>
    <input type="text" name="address" required></input>
  </div>
  <div class="element-center">
    <label for="suburb">suburb</label>
    <input type="text" name="Suburb"required></input>
  </div>
  <div class="element-center">
    <label for="postcode">postcode</label>
    <input type="number" name="postcode" required></input>
  </div>
  <div class="element-center">
    <label for="preferred-times">preferred Times</label>
    <input type="time" name="preferred-times" required></input>
  </div>
  <h2 class="element-center">Preferred days</h2>
  
  
  
  <div class="container-center">
    <div>
      <label for="Monday">Monday</label>
      <input type="checkbox" name="Monday" >
    </div>
    <div>
      <label for="Tuesday">Tuesday</label>
      <input type="checkbox" name="Tuesday" >
    </div>
    <div>
      <label for="Wednesday">Wednesday</label>
      <input type="checkbox" name="Wednesday" >
    </div>
    <div>
      <label for="Thursday">Thursday</label>
      <input type="checkbox" name="Thursday" >
    </div>
    <div>
      <label for="Friday">Friday</label>
      <input type="checkbox" name="Friday" >
    </div>
    <div>
      <label for="Saturday">Saturday</label>
      <input type="checkbox" name="Saturday" >
    </div>
    <div>
      <label for="Sunday">Sunday</label>
      <input type="checkbox" name="Sunday" >
    </div>
  </div>
</section>