<section class="welcome-page section" id="welcome">
  <div class="container-horizontal-align welcome-container">
    <div class="title-section container-verticle-align">
      <h1><strong>Happy Hounds Walking and Sitting Services</strong></h1>
      <button><a href="{{ url_for('about') }}">Checkout 🛒</a></button>
    </div>
    <div class="review-section moveable-container container-verticle-align">
      <h3>Luis Cane</h3>
      <h4>happy owner of 3 pugs</h4>
      <img
        src="{{url_for('static',filename = 'images/prf-pic.jpg')}}"
        alt="prf pic img"
      />
      <h4>very reliable and someone i can trust</h4>
      <p>
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
        ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
        ><i class="fa-solid fa-star"></i>
      </p>
      <p>
        "Being a pug owner, finding a trustworthy pet service is crucial. Happy
        Hounds exceeded my expectations with their professional and caring team.
        They take great care of my three furry babies during walks and sitting
        sessions. I highly recommend them - they deserve a 5-star rating from
        me!"
      </p>
    </div>
  </div>
</section>
